/** {
    border: 1px solid black;
}*/

@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('webagency_images/fonts/glyphicons-halflings-regular.eot');
    src: url('webagency_images/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('webagency_images/fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('webagency_images/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('webagency_images/fonts/glyphicons-halflings-regular.svg#GlyphiconsHalflingsRegular') format('svg');
}


@font-face {
    font-family: 'FontAwesome';
    src: url('webagency_images/fonts/fontawesome-webfont.eot');
    src: url('webagency_images/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('webagency_images/fonts/fontawesome-webfont.woff') format('woff'),
         url('webagency_images/fonts/fontawesome-webfont.ttf') format('truetype'),
         url('webagency_images/fonts/fontawesome-webfont.svg#fontwesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    /*font-family: 'glyphicons-halflings-regular', Arial, Helvetica, sans-serif;*/
    font-family: 'fontawesome-webfont', Arial, Helvetica, sans-serif;    
}

/*nav*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}
#menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;    
    height: 90px;
    padding: 0;
}
#menu li {
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 10px;
    padding-right: 10px;
}
#menu li:hover {
    border-top: 4px solid #3BAED7;
    cursor: pointer;
    color: black;
}

/*header*/
#slider {
    width: 100%;
    overflow: hidden;    
    position: relative;
}
#slider figure {
    width: 200%;
    margin: 0;
    position: relative;
}
#slider figure img {
    float: left;
    width: 50%;
    height: auto;    
}
.fleche i {
    background-color: rgba(0, 0, 0, 0.3);
    width: 60px;
    height: 60px;
    border-radius: 60px;
    line-height: 60px;
    cursor: pointer;
    color: white;
}
#flechegauche i {
    padding-right: 15px;
    text-align: right;
    position: relative;
    right: 40px;
}
#flechedroite i {
    padding-left: 15px;
    text-align: left;
    position: relative;
    left: 40px;
}
#conteneur-fleche {
    width: 100%;
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#presentation {
    width: 40%;
    position: absolute;
    left: 10%;
    top: 20%;
    color: white;    
}
#presentation p:last-child {
    background-color: #3BAED7;
    text-align: center;
    padding: 10px;
    width: 100px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #1D8DB5;
    font-size: 16px;
    cursor: pointer;
}
#presentation h1 {
    font-size: 28px;
}
#presentation p {
    font-size: 14px;
}
#webagency {
    color: #3BAED7;
}

/*Décoration*/
.fa {
    color: #3BAED7;
}
.fa-chevron-left, .fa-chevron-right {
    color: white;
}
.fa-circle {
    border: 5px solid white;
}
hr {
    width: 130px;
    opacity: 0.5;
}
#services .intro .fa-circle {
    position: relative;
    bottom: 21px;
}
.icon {
    width: 100px;
    height: 60px;
    border: 1px solid lightgrey;
    border-radius: 60px;
    text-align: center;
    padding-top: 40px;
}
#detailsServices .fa-circle {
    position: relative;
    right: 17px;
}

/*Sections*/
section, footer {
    padding-top: 20px;
    padding-bottom: 20px;    
}
section p, li, #adresse {
    color: #63686D;
}
h2 {
    font-size: 38px;
}
.intro {
    text-align: center;
    padding: 10px;
    /* revoir ici */
}

/* Section : Nos services*/
#services .intro p {
    width: 50%;
    margin: auto;
}
#detailsServices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.text {
    max-width: 500px;
    padding-left: 20px;
}
#infos {
    position: relative;
}
.paragraphe {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Section : Nos projets*/
#projets {
    background-color: #F5F5F5;
}
#projets .intro ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 370px;
    padding-left: 0;
}
#projets .intro li {
    background-color: #E5E5E5;    
    padding: 10px;
    margin-left: 0;
}
#projets .intro li:hover {
    background-color: #3BAED7;
    color: white;
    box-shadow: 0 3px 0 #1D8DB5;
    cursor: pointer;    
}
#projets .intro li:hover > span {
    width: 1px;
    height: 1px;
    border: 8px solid transparent;
    border-top: 8px solid #1D8DB5;
    position: relative;
    top: 38px;
    right: 30px;
}
#projets .intro li:first-child {
    border-radius: 4px 0 0 4px;        
}
#projets .intro li:last-child {
    border-radius: 0 4px 4px 0;        
}
#imagesProjets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 0;
}
#imagesProjets li {
    list-style-type: none;
    width: 250px;
    padding: 20px;
}
#imagesProjets figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}
#imagesProjets img {
    width: 100%;
}
#imagesProjets img:hover + figcaption, #imagesProjets figcaption:hover {
    visibility: visible;
}
#imagesProjets figcaption {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 4px;
    visibility: hidden;
}
#imagesProjets strong {
    font-size: 18px;
}

/*Footer : formulaire de contact*/
footer {
    background-image: url("webagency_images/images/plan.png");
    background-repeat: round;
}
#fondBleu {
    background-color: rgba(0, 100, 200, 0.2);
    height: 700px;    
}
aside {
    width: 300px;
    height: 450px;
    background-color: rgba(255, 255 ,255, 0.8);
    padding: 20px;
    position: relative;
    left: 850px;
    top: 50px;
}
footer strong {
    font-size: 26px;
}
#adresse span {
    font-weight: bold;
}
#adresse {
    margin-top: 10px;
    margin-bottom: 10px;
}
input {
    width: 290px;
    height: 25px;
    margin-bottom: 10px; 
}
#message {
    height: 150px;
}
#send {
    background-color: #3BAED7;
    color: white;
    width: 100px;
    border-radius: 3px;
    /*box-shadow: 0 3px 0 #1D8DB5;   */
}